body {
    background-image: url(img/onela-ymeri-3Uj7ttuo5kk-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #dadada;
    background-blend-mode: soft-light;
}

.--cleanList a{
    list-style-type: none;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
}
.img{
    width: 20px;
    height: 20px;
}

  .sc-flex {
      margin-left: 125px;
      margin-right: 125px;
      text-align: left;
      line-height: 0.75cm;
      font-size: 15pt;
      text-align: justify;
  }

.big_label{
    font-size: 35pt;
    text-align:center;
    margin-bottom: 2cm;
    margin-left: 125px;
    margin-right: 125px;

}


  .h1 {
      font-size: 10pt;
      font-weight: bold;
    text-align: justify;

  }

  .h2 {
      font-size: 10pt;
      font-weight: bold;
    text-align: justify;
  }

  .h3 {
      font-size: 14pt;
      font-weight: bold;
    text-align: justify;
  }

  .blog-sectiontwo {
      display: flex;
      flex-direction: column;
  }

  .blog-section-imgtwo {
      margin: 10px 0;
      flex: 0 0 100%;
  }

  .blog-section-texttwo {
      margin: 10px 0;
      flex: 0 0 100%;

  }
        
           .photobig {
               display: none;
           }
    
           .photosmall {
               display: block;
           }
  



  @media only screen and (max-width: 757px) {
   
      .blog-section {
          margin: 0 -15px;
          flex-direction: row;
      }

      .blog-section div {
          padding: 0 15px;

      }

      .blog-section-img {
          flex: 0 0 20%;

      }

      .blog-section-img-big {
          flex: 0 0 30%;

      }

      .blog-section-text {
          flex: 0 0 70%;

      }

      .blog-sectiontwo {
          margin: 0 -15px;
          flex-direction: row;
      }

      .blog-sectiontwo div {
          padding: 0 15px;

      }

      .blog-section-imgtwo {
        display: none;
      }

      .blog-section-texttwo {
          flex: 0 0 100%;

      }

      .blog-sectionone {
          margin: 0 -15px;
          flex-direction: row;
      }

      .blog-sectionone div {
          padding: 0 15px;

      }

      .blog-section-imgone {
          flex: 0 0 20%;
      }

      .blog-section-textone {
          flex: 0 0 70%;

      }

      .photosmall {
          display: none;
      }

      .photobig {
          display: block;
      }

  }
